<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>441606888982-pkmmj5kiicih3elkqf6af6koie3q1a0j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.441606888982-pkmmj5kiicih3elkqf6af6koie3q1a0j</string>
	<key>API_KEY</key>
	<string>AIzaSyABayw-2h8PHtfl6nHh5o05klKDM0jVIps</string>
	<key>GCM_SENDER_ID</key>
	<string>441606888982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myNewOrange</string>
	<key>PROJECT_ID</key>
	<string>my-new-orange</string>
	<key>STORAGE_BUCKET</key>
	<string>my-new-orange.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:441606888982:ios:2c94feaf3ebca1439b9f37</string>
</dict>
</plist>